/* styles.css */

@font-face {
  font-family: 'Hack',
  src: url('https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.003/web/fonts/hack-bold-subset.woff2') format('woff2'),
       url('https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.003/web/fonts/hack-bold-subset.woff') format('woff');
}

#timerContainer {
  height: 200px;
  width: 200px;
}

#timerBackground {
  background: #ffcccb;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
}

#timerForeground {
  position: absolute;
}

#timerCountdown {
  font-family: 'Hack', monospace;
  font-size: 3.5em; 
  font-weight: bold;

  /* horizontally align text */
  width: 200px;
  text-align: center;

  /* vertically align text */
  position: relative;
  top: 100px;
  transform: translateY(-50%);
}

#elapsed {
  display: none;
  color: #666;
}

.start-interval-btn {
  color: #fff;
  background: #666;
  border-bottom: 10px solid #aaa;
  transition: all 0.4s linear 0s;
  font-size: 1.1em;
  font-weight: bold;
  opacity: 0.8;
}

.start-interval-btn:hover {
  color: #cbffcf;
  opacity: 0.9;
}

.start-interval-btn.active {
  color: #66ff66;
  border-bottom: 10px solid #66ff66;
  opacity: 1;
  transform: translateY(10px);
}
